@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,300&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
  display: none;
}

body{
  background-color: #212121;
}

header{
  display: flex;
  justify-items: center;
  justify-content: space-between;

  background-color: black;
  font-size: 1.1em;
  text-align: center;


  padding: 28px;
  margin-bottom: 20px;
}

header > h1{
  color: white;
}

main{
  padding: 10px;
  margin: auto;
  min-width: 350px;
  max-width: 1000px;
}

section > h1{
  text-shadow: 3px 3px 2px black;
  font-size: 1.8rem;
  color: white;
}



p{
  color: white;
  text-indent: 10px;
  text-align: justify;
}

div{
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 320px;
  max-width: 800px;
}

img{
  width: 100%;
}

.botao > a{
  height: 25px;
  position: fixed;
  right: 15px;
  bottom: 8px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.692);
  color: white;
}