body{
    background-color: #9BA9B1;
}

.tamanho-borda{
    width: 80%;
    margin: auto;
    background-color: #3F4B66;
    border-radius: 15px;
}

main{
    background-color: #EBF0F2;
    padding: 25px;
    border-radius: 15px;
    margin: auto;
    
    min-width: 500px;
    max-width: 1440px;
}

.estcamoes{
    text-align: center;
}

img{
    width: 50%;
    padding: 0px 200px;
}

p{
  font-family: sans-serif;
  text-indent: 8px;
  padding: 0px 20px 0px 20px;
  color:white;
  margin:7px 0px 7px 0px;
}


h1{
    color: #0D0D0D;
    text-decoration: underline;
    text-align: center;
    text-shadow: 1px 1px 2px #9BA9B1;
    padding-top: 10px;
}

h2{
    color: #0D0D0D;
    text-shadow: 1px 1px 2px #9BA9B1;
    padding: 0px 20px 0px 20px;
    padding-bottom: 10px;
}

/*botao*/
a{
  display: block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #000000; /*cor da letra*/
  border: 2px solid #000000; /*cria borda no botao*/
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  border-radius: 10px;
}

a span{
  position: relative;
  z-index: 2;
}

a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #3F4B66; /*cor de fundo do botao*/
  transition: all .35s;
  border-radius: 10px
}

a:hover{
  color: white; /*cor da letra com o cursor em cima*/
}

a:hover:after{
  width: 100%;
}