@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #212121;
}

header{
    text-align: center;
    background-color: black;
    font-size: 1.1em;

    margin-bottom: 20px;
    padding: 28px;
}

header > h1{
    color: white;
}

section > p{
    color: white;
}

section > h1{
    color: white;
    font-size: 1.8rem;

    text-shadow: 3px 3px 2px black;
}

section{
    padding: 10px;
    min-width: 600px;
    max-width: 1000px;
    margin: auto;
}

p{
    text-indent: 10px;
    text-align: justify;
}

#primeiro, #segundo, #terceiro{
    margin-bottom: 20px;
}

img{
    width: 100%;
}