@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #212121;
}

header{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    background-color: black;
    font-size: 1.1em;

    margin-bottom: 20px;
    padding: 28px;
}

header > menu > ul{
    list-style: none;
}

header > menu> ul > li >a{
    display: flex;
    background-color: #111111;
    color: white;
    text-decoration: none;
    font-size: 1.1em;

    border: 1px solid rgba(122, 122, 122, 0.685);
    border-radius: 5px;
    padding: 7px;
}

header > menu> ul > li >a:hover{
    background-color: gray;
    color: black;
    transition: 0.8s;
}

header > h1{
    color: white;
}

section > p{
    color: white;
}

section > h1{
    color: white;
    font-size: 1.8rem;

    text-shadow: 3px 3px 2px black;
}

section{
    padding: 10px;
    min-width: 360px;
    max-width: 1000px;
    margin: auto;
}

p{
    text-indent: 10px;
    text-align: justify;
}

#primeiro, #segundo, #terceiro{
    margin-bottom: 20px;
}

img{
    width: 100%;
}