@charset "UTF-8";

body{
    background-color: #9BA9B1;
    font-family: Arial, Helvetica, sans-serif;
}

.ftcamoes{
    text-align: center;
}

.tamanhocaixa{
    width: 500px;
    background-color: #3F4B66;
    margin: auto;
    padding-bottom: 20px;
    border-radius: 15px;

    box-shadow: 5px 5px 10px #64646452;
}

h1{
    color: black;
    text-decoration: underline;   /*Coloca underline no texto*/
    text-align: center;
    text-shadow: 2px 2px 1px #3F4B66;
    padding-top: 10px;
}
p{
    color: black;
    text-align: justify;
    text-align: center;
    text-indent: 8px;   /* Cria paragrafos  */

}
main{
    background-color: #EBF0F2;
    min-width: 400px;
    max-width: 650px;
    padding: 10px; /*Define */
    padding-bottom: 30px;
    border-radius: 10px; /*Coloca curvas na caixa do conteudo*/
    box-shadow: 5px 5px 3px #6464647c; /*Sobras da caixa*/
    margin: auto; /*Força o texto ficar no meio*/
}