@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #212121;
}

header{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    background-color: black;
    font-size: 1.1em;

    padding: 28px;
    margin-bottom: 20px;

    color: white;
    text-align: center;
}

section > h1{
    color: white;
    font-size: 1.8rem;
    text-shadow: 3px 3px 2px black;
}

section{
    width: 80vw;
    margin: auto;
    color: white;
    margin-bottom: 15px;

    min-width: 360px;
}

p{
    text-indent: 10px;
}

ul{
    margin-left: 30px;
}

.bola-oca, ol{
    margin-left: 20px;
}

.botao > a{
    height: 25px;
    position: fixed;
    right: 15px;
    bottom: 8px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.692);
    color: white;
}