@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #212121;
}

header{
  display: flex;
  justify-items: center;
  justify-content: space-between;

  background-color: black;
  font-size: 1.1em;
  text-align: center;


  padding: 28px;
  margin-bottom: 20px;
}

header > menu > ul > li > a{
  display: flex;
}

header > menu > ul{
  list-style: none;
  margin: 0;
}

menu > ul > li > a{
  background-color: #111111;
  text-decoration: none;
  text-align: center;
  color: white;

  font-size: 1.1em;
  border: 1px solid rgba(122, 122, 122, 0.685);
  border-radius: 5px;
  padding: 7px;
}

header > menu > ul > li > a:hover{
  background-color: gray;
  color: black;
  transition: 0.8s;

}

p, h1, h2, h3, ul{
    color: white;
}

ul{
    margin-left: 20px;
    margin-bottom: 20px;
}

main > h1{
    text-shadow: 3px 3px 2px black;
    font-size: 1.8rem;
}

main{
    padding: 10px;
    margin: auto;
    min-width: 360px;
    max-width: 1000px;
}

.estancias{
    display: flex;
    flex-wrap: wrap;
}

.estancias > div{
    margin: auto;
    margin-bottom: 20px;
    width: 400px;
}

.estancias > div > h3{
    font-style: italic;
}

.estancias > div > p{
    margin-bottom: 10px;
}

.reflexoes > h1{
    text-shadow: 3px 3px 2px black;
    font-size: 1.8rem;
}

.reflexoes{
    text-indent: 10px;
}

.reflexoes > h2{
    margin-bottom: 5px;
}

.reflexoes > div{
    margin-bottom: 20px;
}