@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #212121;
}

header{
  display: flex;
  justify-items: center;
  justify-content: space-between;

  background-color: black;
  font-size: 1.1em;
  text-align: center;


  padding: 28px;
  margin-bottom: 20px;
}

p, h1, h2, h3, ul{
    color: white;
}

ul{
    margin-left: 20px;
    margin-bottom: 20px;
}

main > h1{
    text-shadow: 3px 3px 2px black;
    font-size: 1.8rem;
}

main{
    padding: 10px;
    margin: auto;
    min-width: 360px;
    max-width: 1000px;
}

.estancias{
    display: flex;
    flex-wrap: wrap;
}

.estancias > div{
    margin: auto;
    margin-bottom: 20px;
    width: 400px;
}

.estancias > div > h3{
    font-style: italic;
}

.estancias > div > h3 > a{
    text-decoration: none;
    color: white;
}

.estancias > div > h3 > a:hover{
    text-decoration: underline;
}

.estancias > div > p{
    margin-bottom: 10px;
}

.reflexoes > h1{
    text-shadow: 3px 3px 2px black;
    font-size: 1.8rem;
}

.reflexoes{
    text-indent: 10px;
}

.reflexoes > h2{
    margin-bottom: 5px;
}

.reflexoes > div{
    margin-bottom: 20px;
}

.reflexoes > div > h2 > a{
    text-decoration: none;
    color: white;
}

.reflexoes > div > h2 > a:hover{
    text-decoration: underline;
}

.botao > a{
    height: 25px;
    position: fixed;
    right: 15px;
    bottom: 8px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.692);
    color: white;
}