@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body, html{
    background-color: #212121;
}

header{
    display: flex;
    justify-content: space-between;
    justify-items: center;

    background-color: black;
    color: white;
    font-size: 1.1em;
    text-align: center;

    padding: 28px;
    margin-bottom: 20px;
}

header> menu > ul{
    list-style: none;
}

header> menu > ul > li > a{
    display: flex;

    background-color: #111111;
    text-decoration: none;
    color: white;

    font-size: 1.1em;
    padding: 7px;
    border: 1px solid rgba(122, 122, 122, 0.685);
    border-radius: 5px;
    margin-top: 10px;
}

header> menu > ul > li > a:hover{
    background-color: gray;
    color: black;
    transition: 0.8s;
}

p, h1, h2, h3, ul{
    color: white;
}

ul{
    margin-left: 20px;
    margin-bottom: 20px;
}

h1{
    text-shadow: 3px 3px 2px black;
    font-size: 1.8rem;
}

main{
    padding: 10px;
    margin: auto;
    min-width: 360px;
    max-width: 1000px;
}

section{
    display: flex;
    flex-wrap: wrap;
}

section > div{
    margin: auto;
    margin-bottom: 20px;
    width: 400px;
}

section > div > h3{
    font-style: italic;
}

section > div > p{
    margin-bottom: 10px;
}