@charset "UTF-8";

body{
    background-color: #6e6e6e;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #0098a3;
    text-decoration: underline;   /*Coloca underline no texto*/
    text-align: center;
    text-shadow: 1px 1px 2px #00848d83; /*Cor da sombra do texto*/
}

h2{
    color: #00747C;
    text-shadow: 1px 1px 2px #00575e73; /*Cor da sombra do texto*/
}

p{
    color: black;
    text-align: justify;
    text-indent: 8px;   /* Cria paragrafos  */

}

main{
    background-color: white;
    width: 750px; /*Largura da caixa de conteudo*/
    padding: 10px; /*Define */
    border-radius: 10px; /*Coloca curvas na caixa do conteudo*/
    box-shadow: 5px 5px 3px #6464647c; /*Sobras da caixa*/
    margin: auto; /*Força o texto ficar no meio*/
}