@media (min-width: 360px) and (max-width: 768px){
    .container{
        transform: translate(-50%, -60%);
        width: 300px;
    }

    .image{
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .container{
        height: 450px;
    }
}