@media (min-width: 360px) and (max-width: 768px){
    hr{
        display: none;
    }

    .content{
        height: 100%;
    }

    p,ul{
        font-size: 1em;
    }

    /* Main Header */
    .main-header{
        gap: 20px;
        padding: 20px;
    }

    nav ul li a{
        font-size: .9em;
    }
    /* ======== */

    /* Presentation */
    .presentation .presentation-container{
        top: 20%;
    }

    .presentation .presentation-container .text{
        font-size: 2.2em;
    }
    /* ======== */

    /* Knowledge */
    .knowledge-section-row{
        display: flex;
        flex-direction: column;
    }
    /* ======== */

    /* Branch */
    .comprehensive-branch{
        height: 100vh;
    }

    .comprehensive-branch article{
        display: flex;
        flex-direction: column;
    }
    /* ======== */

    /* Formation */
    .formation{
        height: 100vh;
    }

    .formation article{
        padding: 20px;
        background-color: transparent;
        width: auto;
    }
    /* ======== */

    /* Footer */
    footer{
        flex-direction: column;
        gap: 30px;
    }

    .merit-txt{
        width: 200px;
        text-align: center;
    }
}
@media (max-height: 835px){
    .knowledge{
        height: 100%;
        margin-bottom: 60px;
    }
}