@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #212121;
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 25vw;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

h3{
    margin-bottom: 20px;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: rgba(204, 204, 204, 0.726);

    font-size: 1.1em;
    height: 4vh;
    transition: 0.8s;
    border-radius: 5px;
}
