@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 8px;
    width: 230px;

    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.575);
    box-shadow: 20px 20px 30px gray;

}

a{
    color: #212121;
    text-decoration: none;
    height: 50px;
}

h3:hover{
    transition: 0.8s;
    background-color: rgba(128, 128, 128, 0.308);
    border-radius: 10px;
}