@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Fira-sans', sans-serif;
}

body{
    background-color: #212121;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    color: #ccc;
    background-color: #000;
}

nav > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

nav > ul > li > a{
    position: relative;
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
    padding-bottom: 10px;
}

nav > ul > li > a::after{
    position: absolute;
    content: "";
    width: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: aqua;
    transition: all 0.5s ease;
}

nav > ul > li > a:hover::after{
    width: 100%;
}

.imagem{
    display: grid;
    align-items: center;
    justify-content: center;
}

img{
    border: 2px solid #fff;
    border-radius: 5px;
}